body {
  margin:0px;
  font-family: "Roboto", sans-serif;
}

.blue-container {
  background-color: #1F2937;
  height:350px;
  width:100%;
  padding-top: 10px;
}

.header {
  display:flex;
  align-items:center;
  width:100%;
}

.header-logo {
  font-size:24px;
  color: #F9FAF8;
  margin-right: 825px;
  margin-left: 150px;
  cursor:pointer;
}

.header-link1, .header-link2, .header-link3 {
  font-size:18px;
  color: #E5E7EB;
  margin-left: 20px;
  cursor:pointer;
}

.header-link3 {
  margin-right: 150px;
}

.header-content-container {
  margin-left: 250px;
  margin-right:250px;
  width: 82%;
  display:flex;
  align-items:center;
  column-gap: 50px;
}

.about-site-information-container {
  flex: 1;
  vertical-align: auto;
  margin-top:80px;
}

.image-container {
  height:150px;
  margin-top:70px;
  flex:1;
  
}

.about-site-header {
  font-size: 48px;
  font-weight:900;
  color: #F9FAF8;
  margin: 0px;
}

.about-site-para {
  margin-top: 0px;
  margin-bottom: 7px;
  font-size: 18px;
}

.image {
  width:350px;
  height:150px;
  object-fit:cover;
}

.sign-up-button {
  background-color: #3882F6;
  padding: 8px 24px 8px 24px;
  border:none;
  border-radius: 8px;
  cursor: pointer;
  color: #F9FAF8;
}

.random-information-container {
  height:250px;
  width: 100%;
  display:flex;
  border:solid;
  border-color: red;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.random-info-para {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100px;
}

.random-information-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.information-box-container {
  display:flex;
  column-gap: 30px;
  justify-content:flex-start;
}

.information-box {
  height:100px;
  width:100px;
  border:solid;
  border-color:green;
  justify-content:center;
  align-items:center;
}

.information-para-container {
  display:flex;
  column-gap: 100px;
}